<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SGADB_BOMEntities" connectionString="metadata=res://*/ANUBIS.csdl|res://*/ANUBIS.ssdl|res://*/ANUBIS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESARROLLO01;initial catalog=Anubis_BOM;user id=sa;password=BaseDeDatos2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AUDDBEntities" connectionString="metadata=res://*/AUDDB.csdl|res://*/AUDDB.ssdl|res://*/AUDDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESARROLLO01;initial catalog=DB_9F356E_Hipnos;user id=sa;password=BaseDeDatos2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BD_DIONISIOEntities" connectionString="metadata=res://*/BOMBERO.csdl|res://*/BOMBERO.ssdl|res://*/BOMBERO.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=desarrollo01;Initial Catalog=DIONISIO;User ID=sa;Password=BaseDeDatos2015;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>