<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />

    <add name="SGADB_BOMEntities" connectionString="metadata=res://*/ANUBIS.csdl|res://*/ANUBIS.ssdl|res://*/ANUBIS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.56.205.218;initial catalog=ANUBIS_BOM;user id=sa;password=HoremHabX11;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AUDDBEntities" connectionString="metadata=res://*/AUDDB.csdl|res://*/AUDDB.ssdl|res://*/AUDDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.56.205.218;initial catalog=HIPNOS_BOM;user id=sa;password=HoremHabX11;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BD_DIONISIOEntities" connectionString="metadata=res://*/BOMBERO.csdl|res://*/BOMBERO.ssdl|res://*/BOMBERO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.56.205.218;initial catalog=DIONISIO;persist security info=True;user id=sa;password=HoremHabX11;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <appSettings>

    <add key="RutaURLSWEspacioxID" value="http://190.81.175.52:9797/middleware/api/middleware/1?method=metodBomEspacioxID"/>
    <add key="RutaURLSWEspacioPublicitario" value="http://190.81.175.52:9797/middleware/api/middleware/1?method=metodBomListarEspacioPublicitario"/>
    <add key="RutaURLSWLogin" value="http://190.81.175.52:9797/middleware/api/middleware/1?method=metodAtlasLogin"/>
    <add key="RutaURLSWElementoxEspacio" value="http://190.81.175.52:9797/middleware/api/middleware/1?method=metodBomListarElementoxEspacio"/>
    <!--<add key="rutaLog" value="/FileServer/Log/" />--> <!--PRODUCCION-->
    <add key="nombreLog" value="BOMLog" />
    <add key="rutaLog" value="\\rpdesfs01\FileAdvance_DES\BOMBERO\FileServer\Log\" />
    
  </appSettings>
  <system.web>
    <globalization culture="es-PE" uiCulture="es-PE" />
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
