.tbl_cabecerareal th{
    text-align: center;
    background-color: #237b96;
    color:#fff;
}

.row_acciones {
    text-align: center;
}

.preview_img_realplaza {
    max-width: 860px;
}

.img_load {
  width: 200px;
  height: 200px;
  background: url(loading.gif) 50% no-repeat;  
  margin: 0 auto;
}

.div_center {
    margin: 0 auto;
}